body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}


nav a {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: plum;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption{
  text-align: center; 
  font-size: 10px;
}

section#featured-property p {
  width: 800px; 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

section#details{
  display: block;
}

section#details div{
  float: left;
  background-color: plum;
  text-align: center;
  width: 25%;
}